*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #20FD15;
    --secondary-color: #68FEC6;
    --accent-color: #47FDEB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5% 10px 2%;
    border-bottom: solid var(--secondary-color);

    img {
        width: 5%;
    }

    nav {
        width: 50%;
        display: flex;
        justify-content: space-between;

        a {
            color: black;
        font-size: large;
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        }

        a:before {
            content: "";
            width: 100%;
            height: 30%;
            display: block;
            z-index: -1;
            opacity: 30%;
            position: absolute;
            transition: all .3s ease;
            background-color: var(--accent-color)
        }

        a:hover::before {
            height: 70%;
        }
    }
}

/* Header section end */



/* Main section */

main {
    max-width: 100%;
}

/* Slider section */

section.slider {
    padding: 5% 0;
    max-width: 100%;
    border-bottom: solid var(--secondary-color);


    div.slide {
        width: 70%;
        margin: 0 auto;
        position: relative; 

        div.slider-content {
            z-index: 1;
            position: absolute;
            bottom: 50px;
            left: 20px;

            a {
                color: black;
                text-decoration: none;
                position: relative;
            }
    
            a:before {
                content: "";
                width: 100%;
                height: 30%;
                display: block;
                z-index: -1;
                opacity: 30%;
                position: absolute;
                bottom: 0px;
                transition: all .3s ease;
                background-color: var(--accent-color)
            }
    
            a:hover::before {
                height: 70%;
            }
            
            * {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 30px;
            }
        }

        img.image {
            max-width: 100%;
        }
        img.arrow-left {
            max-width: 5%;
            position: absolute;
            left: 10px;
            top: 45%;
            
        }
        img.arrow-right {
            position: absolute;
            right: 10px;
            top: 45%;
           max-width: 5%;
        }

    }

    div.slide:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background-image: linear-gradient(0deg, white 10%, transparent 50% );
        opacity: 0.9;
    }

}

/* Slider section end */



/* Fast-search section */

section.fast-search {
    padding: 5% 0;
    max-width: 100%;
    border-bottom: solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        background: linear-gradient(120deg, var(--primary-color) , var(--secondary-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    form {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: center;

        input {
            border: solid grey 2px;
            width: 50%;
            height: 2rem;
            transition: all 0.3s;
        }

        input:focus {
            outline: none;
            border: solid var(--accent-color) 2px;
        }

        button {
            margin: auto 5px;
            background-color: var(--accent-color);
            border: none;
            height: calc(2rem + 3px);
            width: 4rem;
            font-weight: bold;
        }
    }
}

/* Fast-serarch section end */



/* Facts section */

section.facts {
    padding: 5% 0;
    display: flex;
    justify-content: center;
    border-bottom: solid var(--secondary-color);
    ul {
        list-style-type: none;

        li {
            margin-bottom: 2rem;
            font-size: large;
            text-align: center;
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
}

/* Facts section end */



/* Cards section */

section.finds {
    max-width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    border-bottom: solid var(--secondary-color);

    div.cards {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        div.card {

            display: flex;
            flex-direction: column;
            padding: 2%;
            border: solid var(--accent-color);

            img {
                max-width: 100%;
            }

            span.data {
                font-size: small;
            }

            span {
                margin-bottom: 1rem;
            }

            span:last-of-type{
                margin-left: auto;
                margin-top: auto;
                color: darkgray;
            }
        }
    }
}

/* Cards section end */



/* Search section */

section.search {
    max-width: 100%;
    padding: 5% 0;
    border-bottom: solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        background: linear-gradient(120deg, var(--primary-color) , var(--secondary-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    form {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            margin-top: 1rem;
            border: solid grey 2px;
            width: 50%;
            height: 2rem;
            transition: all 0.3s;
        }

        input:focus {
            outline: none;
            border: solid var(--accent-color) 2px;
        }

        textarea {
            margin-top: 1rem;
            border: solid grey 2px;
            width: 50%;
            height: 2rem;
            transition: all 0.3s;
        }

        textarea:focus {
            outline: none;
            border: solid var(--accent-color) 2px;
        }

        button {
            margin: 1rem 5px;
            background-color: var(--accent-color);
            border: none;
            height: calc(2rem + 3px);
            width: 4rem;
            font-weight: bold;
        }
    }
}

/* Search section end */



/* Review section */

section.reviews {
    max-width: 100%;
    padding: 5% 0;
    border-bottom: solid var(--secondary-color);
    text-align: center;
    
    h1 {
        background: linear-gradient(120deg, var(--primary-color) , var(--secondary-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    div.reviews {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        div.review {
            max-width: 30%;
            max-height: 100%;
    
            img {
                max-width: 50%;
            }

            p.author {
                margin-bottom: 1rem;
                text-align: left;
                font-size: large;
            }

            p.data {
                margin-top: 1rem;
                text-align: right;
                color: darkgray;
            }
        }

        
    }

}

/* Review section end */


/* Subscribe section */



/* Subscribe section end */


/* Main section end */